<div class="row">
  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>Location Map of the Transformers</h2>

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227822.55035627162!2d80.8024271802209!3d26.84862299412667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd991f32b16b%3A0x93ccba8909978be7!2sLucknow%2C+Uttar+Pradesh!5e0!3m2!1sen!2sin!4v1535955544198" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="x_panel">
      <div class="x_title">
        <h2>Top Transformers</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-chevron-down"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">By Locations</a>
              </li>
              <li><a href="#">By Zones</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <!--<div id="echart_donut" style="height:350px;"></div>-->

        <div id="donutchart" style="height: 350px;"></div>

      </div>
    </div>
  </div>
</div>
